# #100Viz 15 - Finding Stories (Remix)

***
Since the last visualization looked at a trend over time I wanted to do something similar to Nadieh Bremer's ["Baby Spike"](https://www.visualcinnamon.com/portfolio/baby-spike) visualization. So I created a barpolar chart with last week's same data. Just a reimagination of the time trend.

Because it is re-using the same data I won't go into detail on the preparation. Check Viz 14 for it. 

I put together the base visualization here and finished it on Plotly's Chart Studio (added image and annotations).

I then used https://onlinepngtools.com/create-transparent-png to get rid of each images' background.

Final visualization put together on canva.com

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/processed/working-CA_pct_changes.csv", parse_dates=['Date'],)

df.head()

,Date,Year,Type,Region,percent_change,SeasonallyAdjusted_AveragePrice,AveragePrice,Total Volume,Small Hass,Large Hass,XL Hass,Small Bags,Large Bags,XLarge Bags,Total Bags
0,2015-12-27,2015,conventional,California,0.835627,0.90,0.90,5040365.47,1833946.59,1760956.02,232755.85,1090140.07,110737.35,11829.59,1212707.01
1,2015-12-20,2015,conventional,California,0.872766,0.94,0.94,4695737.21,1676601.43,1543280.76,266689.82,1061703.58,136747.10,10714.52,1209165.20
2,2015-12-13,2015,conventional,California,0.807772,0.87,0.87,5259354.30,1806690.08,1627240.76,232985.13,1404012.00,180150.37,8275.96,1592438.33
3,2015-12-06,2015,conventional,California,0.724210,0.78,0.78,5775536.27,1943065.50,2100246.17,221957.26,1376640.91,126664.37,6962.06,1510267.34
4,2015-12-27,2015,organic,California,0.892104,1.46,1.45,98576.63,14306.68,50893.97,0.00,29507.45,3868.53,0.00,33375.98

In [3]:
data = df[['Date', 'percent_change', 'Type']].copy()

data.head()

        Date  percent_change          Type
0 2015-12-27        0.835627  conventional
1 2015-12-20        0.872766  conventional
2 2015-12-13        0.807772  conventional
3 2015-12-06        0.724210  conventional
4 2015-12-27        0.892104       organic

In [4]:
data['month'] = data['Date'].dt.month

In [5]:
data.groupby(['month', 'Type'])[['percent_change']].mean()

                    percent_change
month Type
1     conventional        0.845575
      organic             0.862425
2     conventional        0.809320
      organic             0.855951
3     conventional        0.988468
      organic             0.885524
4     conventional        1.015608
      organic             0.928766
5     conventional        0.947044
      organic             0.921346
6     conventional        0.988825
      organic             0.991396
7     conventional        1.121464
      organic             1.068430
8     conventional        1.127739
      organic             1.170828
9     conventional        1.221717
      organic             1.181325
10    conventional        1.286600
      organic             1.280545
11    conventional        1.087029
      organic             1.160957
12    conventional        0.889192
      organic             1.008200

In [6]:
data['week'] = data['Date'].dt.weekofyear

In [7]:
weeks = data.groupby(['week', 'Type'])[['percent_change']].mean().reset_index()

In [8]:
organic_weeks = weeks[weeks['Type'] == 'conventional'].copy()

In [9]:
import plotly
import plotly.graph_objs as go
from plotly.offline import iplot, init_notebook_mode
import ipywidgets as widgets

In [10]:
organic_weeks['percent_change'] = organic_weeks['percent_change'] - 1

In [11]:
organic_weeks['angle'] = ((360 / 53) * organic_weeks['week']).astype(int)

In [12]:
organic_weeks.loc[organic_weeks['percent_change'] < 0, 'color'] = "#b44b27"
organic_weeks.loc[organic_weeks['percent_change'] >= 0, 'color'] = "#004a80"

In [13]:
organic_weeks.head()

   week          Type  percent_change  angle    color
0     1  conventional       -0.117950      6  #b44b27
2     2  conventional       -0.133424     13  #b44b27
4     3  conventional       -0.161278     20  #b44b27
6     4  conventional       -0.148899     27  #b44b27
8     5  conventional       -0.303644     33  #b44b27

In [14]:
fig = go.FigureWidget(data = [
    go.Barpolar(theta = organic_weeks['angle'], r = organic_weeks['percent_change'], width = 7, marker = dict(color = organic_weeks['color']))
])

In [15]:
fig

FigureWidget({
    'data': [{'marker': {'color': array(['#b44b27', '#b44b27', '#b44b27', '#b44b27', '#b44b27',…

In [16]:
# angular axis
fig.layout.polar.angularaxis.showline = False
fig.layout.polar.angularaxis.showgrid = False
fig.layout.polar.angularaxis.rotation = 90
fig.layout.polar.angularaxis.showticklabels = True
fig.layout.polar.angularaxis.ticklen = 0
fig.layout.polar.angularaxis.tickangle = 0
fig.layout.polar.angularaxis.dtick = 30

In [17]:
# radial axis
fig.layout.polar.radialaxis.showgrid = True
fig.layout.polar.radialaxis.showline = True
fig.layout.polar.radialaxis.ticklen = 10
fig.layout.polar.radialaxis.tickformat = '%'
fig.layout.polar.radialaxis.nticks = 4
fig.layout.polar.radialaxis.tickfont.size = 12
fig.layout.polar.radialaxis.tickangle = 90
fig.layout.polar.radialaxis.angle = 90

In [18]:
# hole
fig.layout.polar.hole = 0.5

In [19]:
# size
fig.layout.width = 1200
fig.layout.height = 800

In [20]:
# legend
fig.layout.legend.x = .5
fig.layout.legend.y = .95
fig.layout.legend.xanchor = 'center'
fig.layout.legend.font.size = 24
fig.layout.legend.orientation = 'h'

In [21]:
# details
fig.layout.font.family = "Arial"
fig.layout.title = 'Conventional Avocado Prices ($ compared to 3-year average)'