# Rap Bruto

We are reusing the `pos_counter.py` and `dataset_builder.py` from Viz 12

In [4]:
%run pos_counter.py ../data/raw/residente.txt

%run pos_counter.py ../data/raw/nach.txt

%run dataset_builder.py

__Set up__

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv("../data/processed/part_of_speech_total.csv")

df.head()

     artista            pos  cuenta
0  residente     sustantivo     111
1  residente          verbo      48
2  residente       adjetivo      22
3  residente  nombre propio      21
4  residente       adverbio      12

In [7]:
totales = df.groupby('artista')[['cuenta']].sum()

totales

           cuenta
artista
nach          248
residente     247

De hecho Nach tiene 450 palabras totales y Residente 487. La info de `totales` es solo los _part of speech_ escogidos.

In [8]:
df['pos'].unique()

array(['sustantivo', 'verbo', 'adjetivo', 'nombre propio', 'adverbio',
       'pronombre', 'adposición', 'determinador', 'conj. subordinada',
       'auxiliar', 'numeral', 'conjunción'], dtype=object)